.button {
  width: 100px;
  padding: 10px;
  box-shadow: 0 0px 7px var(--box-shadow-color); /* Adjust the values to your liking */
  font-weight: 600;
  font-size: 16px;
  margin-left: 40px;
  margin-top: 40px;
  cursor: pointer; /* Add this for better UX */
}
