header {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  width: 100%;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.searchBar {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  width: 300px;
  font-size: 14px;
  padding: 10px;
  box-shadow: 0px 0px 12px var(--box-shadow-color); /* Adjust the values to your liking */
}
.searchBar div {
  font-size: large;
}
.searchBar input {
  font-size: 14px;
  border: none;
  margin-left: 10px;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
  flex: 1;
}
.select {
  margin-right: 90px;
  box-shadow: 0 0px 12px var(--box-shadow-color); /* Adjust the values to your liking */
}
.select select {
  width: 200px;
  padding: 15px;
  font-size: 14px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: 300;
  border: 0;

  outline: 0;
}
.select option {
  border: 0;
  outline: 0;
  font-size: 800;
  margin-top: 20px;
}
.main {
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  /* grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)); */
  /* grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); */

  justify-content: center;
  place-items: center;
  margin-top: 10px;
}
.countryLogo {
  width: 250px;
  margin: 50px;
  margin-left: 30px;
  box-shadow: 0 0px 7px var(--box-shadow-color); /* Adjust the values to your liking */
}
.countryLogo img {
  width: 100%;
  height: 180px;
}
.countryLogo div {
  padding: 20px;
}
.countryLogo p {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 800;
}
.countryLogo p span {
  font-weight: 600;
}
.countryLogo h1 {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 800;
}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  place-content: center;
  margin-top: 20px;
}
@media screen and (max-width: 1048px) {
  .main {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media screen and (max-width: 870px) {
  .main {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
@media screen and (max-width: 500px) {
  .main {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
