nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  /* box-shadow: 0 0 12px gainsboro; */
  box-shadow: 0 0 7px hsl(209, 23%, 22%);

  font-size: 14px;
  text-align: center;
}
nav h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  margin-left: 40px;
}
nav h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  margin-right: 40px;
}
span {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  nav h1 {
    font-size: 14px;
    margin-left: 10px;
  }
  nav h1 {
    font-size: 14px;
    margin-left: 10px;
  }
}
