@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
:root {
  --background-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --element-color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 52%);
  --box-shadow-color: gainsboro;
}

[data-theme="dark"] {
  --background-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);
  --element-color: hsl(209, 23%, 22%);
  --input-color: hsl(0, 0%, 100%);
  --box-shadow-color: hsl(209, 23%, 22%);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
